<div class="recipes row align-center">Share Your Favorite Recipes and Keto Exeriences</div>

<div class="post row col-12">
  {{#each posts}}
<div class="card w-25" style="">
  <img src="{{image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a href="/post/{{id}}">{{title}}</a></h5>
    <p class="card-text">{{body}}</p>
     <p class="card-text"><small>Posted by {{User.username}} on {{format_date createdAt}}</small></p>
  </div>
</div>

  {{/each}}
</div>